@import "variable_overrides";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.form-control{
    border: none;
}
.navbar{
    background-color: #E7E7E7;
    color: $black;
    & ::placeholder{
        opacity: 25%;
    }
}
.card{
    width: 30%;
    height: 364px;

    & img{
        max-height: 50%;
    }
}
.description{
    max-height: 109px;
    overflow:hidden;
    text-overflow: ellipsis;
}
.ingredients{
    max-height: 109px;
    overflow:hidden;
    text-overflow: ellipsis;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    color: white;
    border-radius: 5px;
    text-align: start;
    max-height: 250px;
    max-width: 50%;
    overflow-y: scroll;

    & ul{
        list-style-type: none;
        padding: 0;
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
    }
  }
#myDropdown_I{
      background-color: $blue;
  }
#myDropdown_A{
    background-color: $green;
}
#myDropdown_U{
    background-color: $red;
}

.show{
    display:block;
}

button{
    border: none;
    color: white;
    border-radius: 5px;
    padding-left: 1rem;
}
