@import "../scss/variable_overrides.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.form-control{
    border: none;
}
.form-control:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
  }
#navbar > .navbar{
    background-color: #E7E7E7;
    border-radius: 5px;
    color: $black;
    & ::placeholder{
        opacity: 25%;
    }
}
#search_dropI, #search_dropA, #search_dropU{
    color: white;
    &::placeholder{
        color: white;
        opacity: 50%;
    }
}
.card{
    height: 364px;
    border: none;

    & img{
        max-height: 50%;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
    }
}

.rowTop{
    line-height: 1.5;
    vertical-align: middle;
}
.time{
    font-weight: 500;
    text-align: end;
    vertical-align: bottom;
}
i{
    text-align: end;
}
.description{
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
.ingredients{
    max-height: 109px;
    font-size: 12px;
    overflow-y: hidden;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    color: white;
    border-radius: 5px;
    text-align: start;
    max-height: 250px;
    max-width: 50%;
    overflow-y: scroll;

    & ul{
        padding: 0;
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;

        & li{
            list-style-type: none;
            cursor: grab;
        }
    }
  }
#myDropdown_I{
      background-color: $primary;
  }
#myDropdown_A{
    background-color: $success;
}
#myDropdown_U{
    background-color: $danger;
}
#myDropdown_I, #myDropdown_A, #myDropdown_U{
  font-size: 14px;
}
.iconI, .iconA, .iconU{
    margin-left: 10px;
}
.fas.fa-angle-up{
    cursor: grab;
}
button{
    border: none;
    color: white;
    border-radius: 5px;
    padding-left: 1rem;
    cursor: grab;
}
#taglist{
    justify-content: flex-start;
    border-radius: 5px;

    & > div{
        color: white;
        cursor: grab;
    }
    & > i{
    margin-left: 2px;
    }
}
#navbar::after{
    display: block;
    content: attr(data-after);
}